# Environment variables & secrets
.env
*.env
.env.*

# Python / Virtualenv
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Databases / Logs
*.sqlite3
*.log
*.db

# Docker local data / volumes
*.tar
